doctype html
html
	head
		title First go at pug
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		script(type='text/javascript', src='/js/libs/bootstrap.js')
		script(type='text/javascript', src='/js/libs/jquery.js')
	body
		h1 #{name}'s Pug source code!